
.left-container {
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: cornflowerblue
}
.h2 {
    font-family: verdana;
}
.h3 {
    font-family:Verdana; 
}
.photo-contact {
    position: absolute;
    top: 100px;
    text-align: center;
}
.photo {
    width: 50%;
    border-radius: 50%;
}
.button {
    width: 50%;
    background-color: #ffffff;
    border-radius: 14px;
    margin-bottom: 14px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    font-family:Verdana; 
}
.button:hover {
    background-color: rgb(44, 82, 153);
    color: white;
    transition: 1s;
}
.right-container {
    position: absolute;
    left: 400px;
}
.topb {
    padding-top: 50px;
    padding-left: 100px;
    font-family:Verdana; 
}
.title {
    font-style: italic;
    font-size: 1.3rem;
    font-family:Verdana; 
}
.list-menu {
    float: right;
    padding-right: 50px;
    font-family:Verdana; 
}
.menu {
    font-size: 1.1rem;
    padding: 0 15px;
    font-family:Verdana; 
}
a {
    text-decoration: none;
    color: rgb(33, 15, 139);
    font-family:Verdana; 
}
#profile {
    padding-top: 100px;
    padding-left: 100px;
    font-family:Verdana; 
}
#about {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    font-family:Verdana; 
}
#experince {
    padding-top: 250px;
    padding-left: 100px;
    font-family:Verdana; 
}
#achievment {
    padding-top: 250px;
    padding-left: 100px;
    font-family:Verdana; 
}
#contact {
    padding-top: 250px;
    padding-left: 100px;
    font-family:Verdana; 
}
#footer {
    padding-top: 250px;
    text-align: center;
    font-family:Verdana; 
}